<!DOCTYPE html>
<html>
  <head>
    <title>Kaiqiang</title>
    <style>
      h1 {
        font-size : 34px;
        font-family : Roboto;
        color: rgb(100,100,100);
        text-align : center
      }

      #banner {
        width: 80%;
        height : 200px;
        object-fit : cover;
      }

      h2 {
        font-size : 25px;
        font-family : Roboto;
        color: rgb(100,200,100);
        text-align : center
 
      }
      #container {
        
      }
    </style>
  </head>
  <body>
    <div id='container'>
      <h1>Jovian Career</h1>
      <img id="banner" src="./static/banner.jpg" height="100">
      <h2>About Jovian</h2>
      <p>Test banner banner</p>
      <h2>nihao</h2>
      <p>wohenhao banner banner</p>
      <button>Apply Now</button>
      
    </div>
  </body>
</html>